/*  */
@media screen and (min-width: 1200px) {
.container {
     max-width: 1200px;
}
.menu-open {
    display: none;
}
        
.page-header {
    height: 76px;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}


.logo-link {

    font-family: var(--font-secondary);
    font-size: 18px;
    line-height: 1.5;
    padding: 24px 0;
}

.header-web {
    color: var(--color-iris);
}

.header-studio {
    color: var(--basic-color)
}




.site-nav {
    display: flex;
    margin-left: 76px;

}

.site-nav .link.current {

    color: var(--color-iris);

}

.site-nav .link.current::after {

    position: absolute;
    left: 0;
    bottom: 0;

    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-iris);
    border-radius: 2px;
    transition: 250ms var(--timing-function);

}

.site-nav .item+.item {
    margin-left: 40px;
}


.site-nav .link {
    position: relative;

    padding-top: 24px;
    padding-bottom: 28px;

    color: #2E2F42;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;

    transition-timing-function: var(--timing-function);
    transition-duration: 250ms;
    transition-property: color;

}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {

    color: var(--color-iris);

}



.site-nav .link:hover::after {

    transform: scaleX(0.8);

}


.contacts-info {
    display: flex;
}

.contacts-nav {
    margin-left: auto;
}

.contacts-info .item+.item {
    margin-left: 40px;
}

.contacts-info .link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-color);

    padding: 24px 0;

    transition-timing-function: var(--timing-function);
    transition-duration: 250ms;
    transition-property: color;
}

.contacts-info .link:hover,
.contacts-info .link:focus {
    color: #4D5AE5;
}

/* ------------------------HEROO-------------------------- */
.hero {
    background-color: var(--basic-color);
    padding: 188px 0 188px 0;
    height: 600px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

 }

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .hero {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
             url(../images/people-office-2x.jpg);


     }
 }



 .hero-title {
    color: var(--background-color);

    font-weight: 700;
    font-size: 56px;
    line-height: calc(60 / 56);
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;

    margin: 0 auto 48px;
    
    
 }

 .hero-button {
    background-color: var(--color-iris);
    border: none;
    color: #ffffff;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;

    transition-timing-function: var(--timing-function);
    transition-duration: 250ms;
    transition-property: background-color;
 }
 .hero-button:hover,
 .hero-button:focus {
    background-color: #404BBF;
 }

 /* ------------feauters section -----------*/

 .icon-list {
     display: flex;
     justify-content: center;
     gap: 24px;
     margin-bottom: 8px;
 }


 .feauters-icon {
     display: block;
     width: 64px;
     height: 64px;
     display: block;
 }

 .feauters-box {
     width: 264px;
     height: 112px;
     background: #F4F4FD;
     border-radius: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 8px;

 }

 .feauters-list {
     display: flex;
     justify-content: space-between;
     gap: 24px;
 }

 .feauters-item {
     width: 264px;
 }
 

 .feauters-title {
     color: var(--basic-color);
     font-weight: 500;
     font-size: 20px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-align: start;

     margin-bottom: 10px;


 }

 .feauters-text {
     color: var(--secondary-color);
     font-weight: 400;
     font-size: 16px;
     line-height: calc(24 / 16);
     letter-spacing: 0.02em;

 }

 .feauters {
     padding: 120px 0;
 }  

  /* --------------active --------------------*/


  .active-title {
      color: var(--basic-color);
      font-weight: 700;
      font-size: 36px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 72px;
  }

  .active-list {
      display: flex;
      gap: 24px;
  }

  .active {
      padding-bottom: 120px;

  }
  /* ---------------------------OUR TEAM---------------------- */

  .team {
      background-color: var(--color-cloud);
      padding-top: 120px;
      padding-bottom: 120px;
  }

  .team-title {
      color: var(--basic-color);

      font-weight: 700;
      font-size: 36px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: center;

      margin-bottom: 72px;
  }

  .team-heading {
      color: var(--basic-color);

      font-weight: 500;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.02em;

      margin-bottom: 8px;

  }

  .team-text {
      color: var(--secondary-color);
      line-height: 1.5;
      margin-bottom: 8px;



  }

  .team-item:not(:last-child) {
      margin-right: 24px;
  }

  .team-card {
      background-color: var(--background-color);
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      text-align: center;
      width: 264px;
      padding: 32px 0;
      border-radius: 0px 0px 4px 4px;
  }

  .team-list {
      display: flex;
  }

  .soc-list {
      display: flex;
      justify-content: center;
      gap: 24px;
  }

  .soc-item {
      width: 40px;
      height: 40px;
  }

  .soc-link {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-iris);

      transition-timing-function: var(--timing-function);
      transition-duration: 250ms;
      transition-property: background-color;
  }

  .soc-link:hover,
  .soc-link:focus {
      background-color: #404BBF;
  

  /* ---------------------------CUSTOMERS-------------------------------- */


}.customers {
    padding-top: 125px;
    padding-bottom: 125px;
}

.customers-title {
    color: var(--basic-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    justify-content: center;
    /* gap: 24px; */

}

.customers-item {
    width: 168px;
    height: 88px;

}

.customers-link {
    display: inline-block;

    width: 100%;
    height: 100%;
    color: #8E8F99;
    border: 1px solid currentColor;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-timing-function: var(--timing-function);
    transition-duration: 250ms;
    transition-property: color;
}

.customers-link:is(:hover, :focus) {
    color: #404BBF;
}


.customers-icon {
    fill: currentColor;
}
/* --------------------footer------------------ */
.page-footer {
    background-color: var(--basic-color);
   padding: 100px 0 ;
   
    
}
.page-footer .link {
    font-family: var(--font-secondary);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    
    
}
.footer-web {
    color: var(--color-iris);
}
.footer-studio {
    color: var(--color-cloud);
    
}
.footer-text {
    color: #E7E9FC;

    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-top: 16px;
}
.footer-soc-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: start;

    margin-bottom: 16px;
}
.footer-address {
    display: flex;
    justify-content: space-between;

}

.footer-link {
    text-align: start;
}

.footer-address-link {
    display: flex;
    justify-content: center;
}
.footer-soc {
    margin-left: 120px;
}
.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.logo-text {
    margin: 0;
}
.footer-soc-list {
    margin: 0;
}



.footer-soc-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: background-color;
    transition-timing-function: var(--timing-function);
    transition-duration: 250ms;
    
}
.footer-soc-link:is(:hover, :focus) {
    background-color: #31D0AA;
}

.subscribe-box {
    margin-left: 80px;

}

.subscribe-form {
    display: flex;
    gap: 24px;

}

/* .subscribe-label {
    
} */
.subscribe-input {
    display: block;
    width: 264px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: auto;

    font-weight: 400;
    font-size: 12px;
    line-height: 2;


    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(46, 47, 66, 1);
    color: rgba(255, 255, 255, 0.6);

}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;

    padding: 8px 10px 8px 24px;

    letter-spacing: 0.04em;
    color: #FFFFFF;

    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;

    transition-timing-function: var(--timing-function);
    transition-duration: 250ms;
    transition-property: background-color;
}

.subscribe-button::after {
    content: "";
    display: block;
    width: 24px;
    height: 20px;
    background-image: url(../images/Frame.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;

}

.subscribe-button:is(:hover, :focus) {
    background-color: #404BBF;

}

}
