@media screen and (max-width: 320px) {
    .soc-mobile-list {
    /* width: 100%; */
    display: flex;
    gap: 35px;
    justify-content: center;
}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .team-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    .hero-title {
        max-width: 320px;
    }

}
@media screen and (max-width: 480px) {
    .container {
        max-width: 480px;
    }
    .active {
        display: none;
    }
    
    
}

