@media screen and (max-width: 320px) {
    .soc-mobile-list {
    /* width: 100%; */
    display: flex;
    gap: 35px;
    justify-content: center;
}
.feauters-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .team-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    .hero-title {
        max-width: 320px;
    }
    .feauters-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }
    .logo-text {
        width: 268px;
    }

}
/* @media screen and (max-width: 428px) {
    .container {
        width: 428px;
    }
} */
@media screen and (max-width: 480px) {
    .container {
        max-width: 480px;
    }
    .active {
        display: none;
    }
}
/* -------------------------PORTFOLIO---------------------- */



